@model IEnumerable<ExportToExcelSample.Models.Available>

@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Home" asp-action="Csv">Export to CSV</a>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Excel">Export to Excel</a>

        <hr />

        <div>
            <table class="table-slim table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>MarketId</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Total Sf</th>
                        <th>Clear Ht</th>
                        <th>Doors</th>
                        <th>Avail Date</th>
                        <th>List Rep</th>
                        <th>Rep Email</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var summary in Model)
                    {
                        <tr class="slim-row">
                            <td>@summary.MarketId</td>
                            <td>@summary.Address</td>
                            <td>@summary.City</td>
                            <td>@summary.State</td>
                            <td>@summary.TotalSf</td>
                            <td>@summary.ClearHt</td>
                            <td>@summary.Doors</td>
                            <td>@summary.AvailableDate.ToString("yyyy MMM dd")</td>
                            <td>@summary.ListingRep</td>
                            <td>@summary.RepEmail</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>